.calculator {
  position: absolute;
  width: 680px;
  height: 616px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #fafafa;
  top: 142px;
  left: 180px; 
}


.salary-text-button {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.CalculateYourSalaryText {
  margin: 4; 
  padding-right: 10px; 
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-left: 15px;
}

.reset-button {
  display: flex;
  align-items: center; 
  padding: 5px 10px; 
  font-size: 16px;
  cursor: pointer; 
  border: none; 
  background-color: transparent;
  color: #007bff;
}

.BasicSalaryText{
  font-size: 20px;

}

.SalaryContainer {
  padding-left: 15px;


}
.EarningsContainer {
  padding-left: 15px;


}

.DeductionContainer{
  padding-left: 15px;


}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

.text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 8px;
  padding: 2px;
}

.input-box {
  width: calc(100% - 30px);
  height: 48px;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.button {
  width: 162px;
  height: 40px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #007bff;
}

.AddNewAllowanceButton{
  color: #007bff;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text-gray {
  font-family: Inter;
  font-size: 12px;
  color: #757575;
}